@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020617;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}